* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: rgb(170, 170, 170);
    --icons-color: rgb(61, 61, 61);
    --frost-white: rgb(255, 255, 255);
    --main-dark-color: rgb(15, 15, 15);
    --icons-hover-color: rgb(39, 39, 39);
    --input-outline-blue: rgb(29, 94, 178);
}

.leftaside {
    top: 70px;
    width: 90px;
    z-index: -1;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    background-color: var(--main-dark-color);
}

.elementfirst {
    margin-top: 6px;
}

.elementfourth,
.elementthird,
.elementsecond,
.elementfirst {
    width: 80px;
    height: 90px;
    border-radius: 10px;
    background-color: var(--main-dark-color);
}

.elementthird:hover,
.elementfourth:hover,
.elementsecond:hover,
.elementfirst:hover {
    background-color: var(--icons-hover-color);
}